@{ Layout = "_Layout"; }

<div class="jumbotron">
  <h1>Andrew and Jack's Job Board</h1>
  <p class="lead">Post and look at job listings.</p>
</div>
<div>
  <h2>See job listenings in your area</h2>
  <a href="/jobboard">Add Job Listenings</a>

  <h2>Employers add Job Listings here</h2>
  <a href="/jobboard/new">Add Job Listenings</a>
</div>