@using JobBoard.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Create a job listing</h1>
</div>
<div>

<form action="/contacts/@Model.Id/jobopenings" method="post">
<input id="contactId" name="contactId" type="hidden" value="@Model.Id">
  <div class="form-group">
    <h3>Title</h3>
    <input id="title" name="title" type="text">
  </div>
  <div class="form-group">
    <h3>Description</h3>
    <textarea rows="4" cols="50" id="description" name="description" type="text"></textarea>

  </div>
  <button type="submit">Add listing</button>
</form>
<br>
<h3><a href='/'>Home</a><h3>

