@using JobBoard.Models;

@{
  Layout = "_Layout";
}

<div id="contact">
  <br>
@if(@Model["joblistings"].Count == 0) {
  <h3>You have not posted any jobs</h3>
} else {

<h3>Your job postings</h3>

@foreach(JobOpening job in @Model["joblistings"])
{
  <h2>@job.Title</h2>
  <p>@job.Description</p>
}
}
</div>
<p><a href='/contacts/@Model["contact"].Id/jobopenings/new'>Add listing</a></p>
<p><a href="/">JobBoard</a></p>
    